requests
pyyaml
playwright==1.28.0
spacy
pypdf
chromadb
pexpect
sqlmap
black
loguru
beautifulsoup4~=4.11.2
colorama
rich
prompt-toolkit
google
pytest
openai
langchain
tiktoken
pycookiecheat
tenacity
gpt4all
pinecone-client
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchainhub
langcodes
langfuse
langsmith
